.span3 {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .span3 {
    margin-left: auto;
  }
}

a {
  cursor: pointer;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 250px; /* Set a default minimum width */
    margin-left: -141px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  z-index: 2000;
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.left {
  text-align: left;
}

.left-with-indent {
  text-align: left;
  margin-left: 20px;
}

.center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-center {
  float: center;
}

#srchFld {
  padding-left: 30px;
}

#show-auction-check #text {
  font-size: 200%;
}

#payment_methods {
  cursor: pointer;
}

#mycart-modal b{
  font-size: 130%;
}

.mycart-quantity {
  width: 30px;
  padding-top: .1em !important;
  padding-bottom: .1em !important;
  margin: 0px;
}

.mycart-img {
  max-height: 200px;
}

.brand {
  color: white !important;
}